<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Result</title>
</head>

<body>
    <div class="container">
        <div class="resultForm">
            <h2>Form Data</h2>
            <p>Name: @Model.Name</p>
            <p>Dojo Location: @Model.DojoLocation</p>
            <p>Favorite Language: @Model.FavoriteLanguage</p>
            <p>Comment : @Model.Comment</p>
            <div class="button">
                <a href="/">Go Back</a>
            </div>
        </div>
    </div>
</body>

</html>
